  .container {
    max-width: 700px;
    height: auto;
    width: initial;
    margin: auto;
    display: flex;

    align-content: center;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .fundo{
    display: flex;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;


    padding: initial;
    border-radius: 10px;
    background-color: rgb(10, 100, 179);

    margin-top: 1rem;
    width: max-content;
    height: max-content;
  }

  .header{
    width: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
  .h1{
    border: 2rem 2rem 2rem;
  }

  .headerImage{
    width: 6rem;
    height: 6rem;
    margin-right: 10rem;
    margin-left: 10rem;
  }

  .headerHomeImage{
    width: 8rem;
    height: 8rem;
  }

  .backToHome{
    margin: 3rem 0 0;
  }
  